In [1]:
!pip install scikit-learn
!pip install imblearn

Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.11/site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in /opt/conda/lib/python3.11/site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn) (3.5.0)
Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl.metadata (355 bytes)
Collecting imbalanced-learn (from imblearn)
  Downloading imbalanced_learn-0.13.0-py3-none-any.whl.metadata (8.8 kB)
Requirement already satisfied: numpy<3,>=1.24.3 in /opt/conda/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (2.0.2)
Requirement already satisfied: scipy<2,>=1.10.1 in /opt/conda/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (1.14.1)
Requirement already satisfied: scikit-learn<2,>=1.3.2 in /opt/conda/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (1.5.2)
Collecting sklearn-compat<1,>=0.1 (from imbalanced-learn->imblearn)
  Downloading sklearn_compat-0.1.3-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: joblib<2,>=1.1.1 in /opt/conda/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (1.4.2)
Requirement already satisfied: threadpoolctl<4,>=2.0.0 in /opt/conda/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (3.5.0)
Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Downloading imbalanced_learn-0.13.0-py3-none-any.whl (238 kB)
Downloading sklearn_compat-0.1.3-py3-none-any.whl (18 kB)
Installing collected packages: sklearn-compat, imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.13.0 imblearn-0.0 sklearn-compat-0.1.3

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import imblearn

from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import *
from sklearn.decomposition import *
from sklearn.feature_selection import *
from sklearn.model_selection import *
from sklearn.metrics import *
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from imblearn.under_sampling import RandomUnderSampler
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('./data/train.csv', delimiter=',')
display(df)
df.info()

,id,superficie_interior_m2,superficie_exterior_m2,numero_habitacions,numero_banos,ano_construccion,lonxitude,latitude,temperatura_media_mes_construccion,tipo_edificacion,calidade_materiais,cor_favorita_propietario,distancia_centro_km,distancia_escola_km,indice_criminalidade,acceso_transporte_publico,orientacion,eficiencia_enerxetica,numero_arboles_xardin,prezo_euros
0,25521,44.96,0.00,1,2,1947,-8.17,43.20,24.75,Apartamento,Media,Azul,23.68,2.75,0.35,Bo,Norte,C,0,51938
1,4843,93.55,87.26,2,2,1977,-7.23,43.60,14.06,Apartamento,Alta,Verde,NaN,16.67,0.44,Bo,Este,C,0,76891
2,27734,273.64,187.29,1,1,1996,-8.40,42.25,12.27,Chalet adosado,Media,Branco,29.44,18.96,0.47,Regular,Este,C,10,261441
3,22142,171.82,54.89,4,2,1996,-6.81,43.15,11.61,Chalet adosado,Alta,Vermello,53.31,1.96,0.35,Bo,Este,G,3,247821
4,14748,NaN,2153.49,1,1,1990,-8.76,42.92,10.04,Casa,Baixa,Verde,70.20,4.72,0.09,Bo,Oeste,G,12,400645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,29803,122.77,2285.95,6,2,2003,-8.34,43.63,5.74,Casa,Alta,Branco,65.57,12.38,0.69,Bo,Oeste,C,0,443729
19996,5391,62.59,33.16,2,2,1970,-6.77,42.62,14.61,Apartamento,Media,Amarelo,21.46,21.57,0.15,Bo,Norte,C,0,50000
19997,861,144.47,427.37,4,1,1988,-6.87,42.00,14.74,Casa,Media,Vermello,NaN,0.72,NaN,Regular,Este,B,6,223467
19998,15796,139.52,0.00,6,2,2014,-7.21,43.38,18.15,Apartamento,Alta,Azul,15.45,14.61,0.28,Bo,Oeste,B,0,186403
19999,23655,85.41,0.00,3,2,1955,-6.98,43.38,5.04,Apartamento,Alta,Negro,0.10,7.01,0.08,Malo,Sur,E,0,71064

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  20000 non-null  int64
 1   superficie_interior_m2              18993 non-null  float64
 2   superficie_exterior_m2              18973 non-null  float64
 3   numero_habitacions                  20000 non-null  int64
 4   numero_banos                        20000 non-null  int64
 5   ano_construccion                    20000 non-null  int64
 6   lonxitude                           20000 non-null  float64
 7   latitude                            20000 non-null  float64
 8   temperatura_media_mes_construccion  20000 non-null  float64
 9   tipo_edificacion                    20000 non-null  object
 10  calidade_materiais                  20000 non-null  object
 11  cor_favorita_propietario            20000 non-null  object
 12  distancia_centro_km                 18989 non-null  float64
 13  distancia_escola_km                 18979 non-null  float64
 14  indice_criminalidade                19012 non-null  float64
 15  acceso_transporte_publico           20000 non-null  object
 16  orientacion                         20000 non-null  object
 17  eficiencia_enerxetica               20000 non-null  object
 18  numero_arboles_xardin               20000 non-null  int64
 19  prezo_euros                         20000 non-null  int64
dtypes: float64(8), int64(6), object(6)
memory usage: 3.1+ MB

In [4]:
print(len(df))
df = df.dropna()
print(len(df))
missing_any = df.isnull().any()
print(missing_any)

20000
15442
id                                    False
superficie_interior_m2                False
superficie_exterior_m2                False
numero_habitacions                    False
numero_banos                          False
ano_construccion                      False
lonxitude                             False
latitude                              False
temperatura_media_mes_construccion    False
tipo_edificacion                      False
calidade_materiais                    False
cor_favorita_propietario              False
distancia_centro_km                   False
distancia_escola_km                   False
indice_criminalidade                  False
acceso_transporte_publico             False
orientacion                           False
eficiencia_enerxetica                 False
numero_arboles_xardin                 False
prezo_euros                           False
dtype: bool

In [5]:
blank_rows = df[(df == '').any(axis=1)]
print("Rows with blank values:\n", blank_rows)

Rows with blank values:
 Empty DataFrame
Columns: [id, superficie_interior_m2, superficie_exterior_m2, numero_habitacions, numero_banos, ano_construccion, lonxitude, latitude, temperatura_media_mes_construccion, tipo_edificacion, calidade_materiais, cor_favorita_propietario, distancia_centro_km, distancia_escola_km, indice_criminalidade, acceso_transporte_publico, orientacion, eficiencia_enerxetica, numero_arboles_xardin, prezo_euros]
Index: []

In [6]:
# Eliminar filas duplicadas
df2 =df.drop_duplicates(subset=None, keep='first', inplace=False)
print(len(df))
print(len(df2))

15442
15442

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15442 entries, 0 to 19999
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  15442 non-null  int64
 1   superficie_interior_m2              15442 non-null  float64
 2   superficie_exterior_m2              15442 non-null  float64
 3   numero_habitacions                  15442 non-null  int64
 4   numero_banos                        15442 non-null  int64
 5   ano_construccion                    15442 non-null  int64
 6   lonxitude                           15442 non-null  float64
 7   latitude                            15442 non-null  float64
 8   temperatura_media_mes_construccion  15442 non-null  float64
 9   tipo_edificacion                    15442 non-null  object
 10  calidade_materiais                  15442 non-null  object
 11  cor_favorita_propietario            15442 non-null  object
 12  distancia_centro_km                 15442 non-null  float64
 13  distancia_escola_km                 15442 non-null  float64
 14  indice_criminalidade                15442 non-null  float64
 15  acceso_transporte_publico           15442 non-null  object
 16  orientacion                         15442 non-null  object
 17  eficiencia_enerxetica               15442 non-null  object
 18  numero_arboles_xardin               15442 non-null  int64
 19  prezo_euros                         15442 non-null  int64
dtypes: float64(8), int64(6), object(6)
memory usage: 2.5+ MB

In [9]:
display(df2)

,id,superficie_interior_m2,superficie_exterior_m2,numero_habitacions,numero_banos,ano_construccion,lonxitude,latitude,temperatura_media_mes_construccion,tipo_edificacion,calidade_materiais,cor_favorita_propietario,distancia_centro_km,distancia_escola_km,indice_criminalidade,acceso_transporte_publico,orientacion,eficiencia_enerxetica,numero_arboles_xardin,prezo_euros
0,25521,44.96,0.00,1,2,1947,-8.17,43.20,24.75,Apartamento,Media,Azul,23.68,2.75,0.35,Bo,Norte,C,0,51938
2,27734,273.64,187.29,1,1,1996,-8.40,42.25,12.27,Chalet adosado,Media,Branco,29.44,18.96,0.47,Regular,Este,C,10,261441
3,22142,171.82,54.89,4,2,1996,-6.81,43.15,11.61,Chalet adosado,Alta,Vermello,53.31,1.96,0.35,Bo,Este,G,3,247821
6,21880,97.96,0.00,4,1,2022,-9.30,42.97,7.37,Apartamento,Baixa,Negro,11.77,14.11,0.08,Malo,Norte,E,0,124569
7,4095,102.25,1254.15,4,2,1996,-7.30,42.19,19.31,Casa,Baixa,Verde,25.67,8.03,0.59,Regular,Oeste,B,0,214036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,21576,30.00,0.00,2,1,2019,-7.72,42.14,13.38,Apartamento,Baixa,Amarelo,5.20,4.20,0.22,Regular,Este,B,0,98345
19995,29803,122.77,2285.95,6,2,2003,-8.34,43.63,5.74,Casa,Alta,Branco,65.57,12.38,0.69,Bo,Oeste,C,0,443729
19996,5391,62.59,33.16,2,2,1970,-6.77,42.62,14.61,Apartamento,Media,Amarelo,21.46,21.57,0.15,Bo,Norte,C,0,50000
19998,15796,139.52,0.00,6,2,2014,-7.21,43.38,18.15,Apartamento,Alta,Azul,15.45,14.61,0.28,Bo,Oeste,B,0,186403
19999,23655,85.41,0.00,3,2,1955,-6.98,43.38,5.04,Apartamento,Alta,Negro,0.10,7.01,0.08,Malo,Sur,E,0,71064

In [9]:
#se pasan las columnas con datos de
for elm in df2:
    if(isinstance(df2[elm].iloc[1],str)):
        #print(elm)
        df2=df2.drop(elm,axis=1)

df2 = df2.reset_index(drop=True)
display(df2)

,id,superficie_interior_m2,superficie_exterior_m2,numero_habitacions,numero_banos,ano_construccion,lonxitude,latitude,temperatura_media_mes_construccion,distancia_centro_km,distancia_escola_km,indice_criminalidade,numero_arboles_xardin,prezo_euros
0,25521,44.96,0.00,1,2,1947,-8.17,43.20,24.75,23.68,2.75,0.35,0,51938
1,27734,273.64,187.29,1,1,1996,-8.40,42.25,12.27,29.44,18.96,0.47,10,261441
2,22142,171.82,54.89,4,2,1996,-6.81,43.15,11.61,53.31,1.96,0.35,3,247821
3,21880,97.96,0.00,4,1,2022,-9.30,42.97,7.37,11.77,14.11,0.08,0,124569
4,4095,102.25,1254.15,4,2,1996,-7.30,42.19,19.31,25.67,8.03,0.59,0,214036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15437,21576,30.00,0.00,2,1,2019,-7.72,42.14,13.38,5.20,4.20,0.22,0,98345
15438,29803,122.77,2285.95,6,2,2003,-8.34,43.63,5.74,65.57,12.38,0.69,0,443729
15439,5391,62.59,33.16,2,2,1970,-6.77,42.62,14.61,21.46,21.57,0.15,0,50000
15440,15796,139.52,0.00,6,2,2014,-7.21,43.38,18.15,15.45,14.61,0.28,0,186403
15441,23655,85.41,0.00,3,2,1955,-6.98,43.38,5.04,0.10,7.01,0.08,0,71064

# PRUEBA BÁSICA

In [10]:
df3 = df2.drop(columns=["id"])
target = df3["prezo_euros"]
X = df3.drop(columns=["prezo_euros"])
display(X)

,superficie_interior_m2,superficie_exterior_m2,numero_habitacions,numero_banos,ano_construccion,lonxitude,latitude,temperatura_media_mes_construccion,distancia_centro_km,distancia_escola_km,indice_criminalidade,numero_arboles_xardin
0,44.96,0.00,1,2,1947,-8.17,43.20,24.75,23.68,2.75,0.35,0
1,273.64,187.29,1,1,1996,-8.40,42.25,12.27,29.44,18.96,0.47,10
2,171.82,54.89,4,2,1996,-6.81,43.15,11.61,53.31,1.96,0.35,3
3,97.96,0.00,4,1,2022,-9.30,42.97,7.37,11.77,14.11,0.08,0
4,102.25,1254.15,4,2,1996,-7.30,42.19,19.31,25.67,8.03,0.59,0
...,...,...,...,...,...,...,...,...,...,...,...,...
15437,30.00,0.00,2,1,2019,-7.72,42.14,13.38,5.20,4.20,0.22,0
15438,122.77,2285.95,6,2,2003,-8.34,43.63,5.74,65.57,12.38,0.69,0
15439,62.59,33.16,2,2,1970,-6.77,42.62,14.61,21.46,21.57,0.15,0
15440,139.52,0.00,6,2,2014,-7.21,43.38,18.15,15.45,14.61,0.28,0
15441,85.41,0.00,3,2,1955,-6.98,43.38,5.04,0.10,7.01,0.08,0

In [11]:
X_train, X_test, y_train, y_test = train_test_split(
    X, target, test_size=0.2, random_state=42  # 20% para test
)

model = LinearRegression()
model.fit(X_train, y_train)
y_pred_int = model.predict(X_test)


mae = mean_absolute_error(y_test, y_pred_int)
print("MAE:", mae)

resultados = pd.DataFrame({
    'real': y_test,
    'prediccion': y_pred_int
})

# Guardar en un archivo CSV
resultados.to_csv('trains.csv',index=False)

MAE: 38246.436762864585

In [14]:
df_test = pd.read_csv('./data/test.csv', delimiter=',')
for elm in df_test:
    if(isinstance(df_test[elm].iloc[1],str)):
        #print(elm)
        df_test=df_test.drop(elm,axis=1)
df_test_final=df_test.fillna(0)
X_final = df_test_final.drop(columns=["id"])

y_pred = model.predict(X_final)
resultados = pd.DataFrame({
    'id': df_test["id"],
    'prezo_euros': y_pred
})

resultados.to_csv('predicciones2.csv',index=False)

In [16]:
df_test = pd.read_csv('./data/test.csv', delimiter=',')
for elm in df_test:
    if(isinstance(df_test[elm].iloc[1],str)):
        #print(elm)
        df_test=df_test.drop(elm,axis=1)
df_test_final=df_test.fillna(df_test.median(numeric_only=True))
X_final = df_test_final.drop(columns=["id"])

y_pred = model.predict(X_final)
resultados = pd.DataFrame({
    'id': df_test["id"],
    'prezo_euros': y_pred
})

resultados.to_csv('predicciones3.csv',index=False)

# Random forest y selección de columnas

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
    X, target, test_size=0.2, random_state=42  # 20% para test
)

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred_int = model.predict(X_test)


mae = mean_absolute_error(y_test, y_pred_int)
print("MAE:", mae)

resultados = pd.DataFrame({
    'real': y_test,
    'prediccion': y_pred_int
})

# Guardar en un archivo CSV
resultados.to_csv('trains.csv',index=False)

MAE: 35531.828368404014

In [20]:
df_test = pd.read_csv('./data/test.csv', delimiter=',')
for elm in df_test:
    if(isinstance(df_test[elm].iloc[1],str)):
        #print(elm)
        df_test=df_test.drop(elm,axis=1)
df_test_final=df_test.fillna(df_test.median(numeric_only=True))
X_final = df_test_final.drop(columns=["id"])

y_pred = model.predict(X_final)
resultados = pd.DataFrame({
    'id': df_test["id"],
    'prezo_euros': y_pred
})

resultados.to_csv('predicciones4.csv',index=False)

In [24]:
# Aplicar SelectKBest para seleccionar características relevantes
ncomponentes=4 #se cambia aqui la cantidad de componentes a la que se puede reducir
selector = SelectKBest(score_func=f_classif, k=ncomponentes)
dfreducido=selector.fit_transform(X,target)

# Obtener las puntuaciones de importancia
feature_scores = selector.scores_
feature_names = X.columns

# Crear un DataFrame con las puntuaciones y ordenarlo
scores_df = pd.DataFrame({'Feature': feature_names, 'Score': feature_scores})
scores_df = scores_df.sort_values(by="Score", ascending=False)

# Mostrar las características seleccionadas
selected_features = feature_names[selector.get_support()]
print("\n\nCARACTERÍSTICAS SELECCIONADAS\n\n", selected_features)

# Mostrar las puntuaciones de las características
print("\n\nSCORES")
print(scores_df)

CARACTERÍSTICAS SELECCIONADAS

 Index(['superficie_interior_m2', 'superficie_exterior_m2',
       'distancia_centro_km', 'numero_arboles_xardin'],
      dtype='object')


SCORES
                               Feature      Score
1               superficie_exterior_m2  47.955313
11               numero_arboles_xardin  11.287587
0               superficie_interior_m2   6.617971
8                  distancia_centro_km   5.513108
10                indice_criminalidade   1.321322
2                   numero_habitacions   1.108137
6                             latitude   1.068225
4                     ano_construccion   1.055122
3                         numero_banos   1.018767
9                  distancia_escola_km   1.010917
7   temperatura_media_mes_construccion   0.997568
5                            lonxitude   0.980471

In [28]:
X_reducido = X[selected_features]
X_train, X_test, y_train, y_test = train_test_split(
    X_reducido, target, test_size=0.2, random_state=42  # 20% para test
)

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred_int = model.predict(X_test)


mae = mean_absolute_error(y_test, y_pred_int)
print("MAE:", mae)

MAE: 40569.93260104171

El error aumenta cuando se reducen las columnas así que descartaremos esta opción por ahora

# Incluir columnas string

In [13]:
X_preprocesado = df.copy()

# 1. Eliminar la columna 'id'
X_preprocesado = X_preprocesado.drop(columns=['id'])

# 2. Separar la variable objetivo
y = X_preprocesado['prezo_euros']
X_preprocesado = X_preprocesado.drop(columns=['prezo_euros'])

# 3. Codificar columnas de texto

# Label Encoding para 'eficiencia_enerxetica' (porque tiene orden)
le = LabelEncoder()
X_preprocesado['eficiencia_enerxetica'] = le.fit_transform(X_preprocesado['eficiencia_enerxetica'])

# One-Hot Encoding para las otras columnas de texto
X_preprocesado = pd.get_dummies(X_preprocesado, columns=[
    'tipo_edificacion',
    'calidade_materiais',
    'cor_favorita_propietario',
    'acceso_transporte_publico',
    'orientacion'
])

# 4. Rellenar NaN en las columnas numéricas
X_preprocesado = X_preprocesado.fillna(X_preprocesado.median())

In [44]:
X_train, X_test, y_train, y_test = train_test_split(
    X_preprocesado, y, test_size=0.2, random_state=42  # 20% para test
)

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred_int = model.predict(X_test)


mae = mean_absolute_error(y_test, y_pred_int)
print("MAE:", mae)

MAE: 29440.796079637425

In [46]:
df_test = pd.read_csv('./data/test.csv', delimiter=',')

X_preprocesado = df_test.copy()

# 1. Eliminar la columna 'id'
X_preprocesado = X_preprocesado.drop(columns=['id'])

# 3. Codificar columnas de texto

# Label Encoding para 'eficiencia_enerxetica' (porque tiene orden)
le = LabelEncoder()
X_preprocesado['eficiencia_enerxetica'] = le.fit_transform(X_preprocesado['eficiencia_enerxetica'])

# One-Hot Encoding para las otras columnas de texto
X_preprocesado = pd.get_dummies(X_preprocesado, columns=[
    'tipo_edificacion',
    'calidade_materiais',
    'cor_favorita_propietario',
    'acceso_transporte_publico',
    'orientacion'
])

# 4. Rellenar NaN en las columnas numéricas
X_preprocesado = X_preprocesado.fillna(X_preprocesado.median())

y_pred = model.predict(X_preprocesado)
resultados = pd.DataFrame({
    'id': df_test["id"],
    'prezo_euros': y_pred
})

resultados.to_csv('predicciones5.csv',index=False)

# FILTRADO

In [51]:
def filtrar_outliers(df, columnas):
    df_filtr = df.copy()
    for col in columnas:
        Q1 = df[col].quantile(0.25) #Cuartiles
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1 #Rango intercuartilico
        lim_inf = Q1 - 2 * IQR #Definimos los límites
        lim_sup = Q3 + 2 * IQR
        
        n_antes = df_filtr.shape[0]
        df_filtr = df_filtr[(df_filtr[col] >= lim_inf) & (df_filtr[col] <= lim_sup)] #Filtramos los datos que estén fuera de los limites
        n_despues = df_filtr.shape[0]
        print(f"{col}: eliminadas {n_antes - n_despues} filas")
    return df_filtr

In [52]:
X_preprocesado = df.copy()

# 1. Eliminar la columna 'id'
X_preprocesado = X_preprocesado.drop(columns=['id'])

# 3. Codificar columnas de texto

# Label Encoding para 'eficiencia_enerxetica' (porque tiene orden)
le = LabelEncoder()
X_preprocesado['eficiencia_enerxetica'] = le.fit_transform(X_preprocesado['eficiencia_enerxetica'])

# One-Hot Encoding para las otras columnas de texto
X_preprocesado = pd.get_dummies(X_preprocesado, columns=[
    'tipo_edificacion',
    'calidade_materiais',
    'cor_favorita_propietario',
    'acceso_transporte_publico',
    'orientacion'
])

columnas_outliers = [
    'superficie_interior_m2',
    'superficie_exterior_m2',
    'numero_habitacions',
    'numero_banos',
    'ano_construccion',
    'lonxitude',
    'latitude',
    'temperatura_media_mes_construccion',
    'distancia_centro_km',
    'distancia_escola_km',
    'indice_criminalidade',
    'numero_arboles_xardin',
]

X_preprocesado = filtrar_outliers(X_preprocesado, columnas_outliers)

# 4. Rellenar NaN en las columnas numéricas
X_preprocesado = X_preprocesado.fillna(X_preprocesado.median())

y = X_preprocesado['prezo_euros']
X_preprocesado = X_preprocesado.drop(columns=['prezo_euros'])

superficie_interior_m2: eliminadas 26 filas
superficie_exterior_m2: eliminadas 1812 filas
numero_habitacions: eliminadas 0 filas
numero_banos: eliminadas 0 filas
ano_construccion: eliminadas 0 filas
lonxitude: eliminadas 0 filas
latitude: eliminadas 0 filas
temperatura_media_mes_construccion: eliminadas 0 filas
distancia_centro_km: eliminadas 2 filas
distancia_escola_km: eliminadas 14 filas
indice_criminalidade: eliminadas 1 filas
numero_arboles_xardin: eliminadas 0 filas

In [53]:
X_train, X_test, y_train, y_test = train_test_split(
    X_preprocesado, y, test_size=0.2, random_state=42  # 20% para test
)

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred_int = model.predict(X_test)


mae = mean_absolute_error(y_test, y_pred_int)
print("MAE:", mae)

MAE: 28341.685838852096

In [55]:
df_test = pd.read_csv('./data/test.csv', delimiter=',')

X_preprocesado = df_test.copy()

# 1. Eliminar la columna 'id'
X_preprocesado = X_preprocesado.drop(columns=['id'])

# 3. Codificar columnas de texto

# Label Encoding para 'eficiencia_enerxetica' (porque tiene orden)
le = LabelEncoder()
X_preprocesado['eficiencia_enerxetica'] = le.fit_transform(X_preprocesado['eficiencia_enerxetica'])

# One-Hot Encoding para las otras columnas de texto
X_preprocesado = pd.get_dummies(X_preprocesado, columns=[
    'tipo_edificacion',
    'calidade_materiais',
    'cor_favorita_propietario',
    'acceso_transporte_publico',
    'orientacion'
])

# 4. Rellenar NaN en las columnas numéricas
X_preprocesado = X_preprocesado.fillna(X_preprocesado.median())

y_pred = model.predict(X_preprocesado)
resultados = pd.DataFrame({
    'id': df_test["id"],
    'prezo_euros': y_pred
})

resultados.to_csv('predicciones6.csv',index=False)

In [43]:
def normalizar(train,test):
  escalar = MinMaxScaler()
  normalizado_train = escalar.fit_transform(train)
  normalizado_train = pd.DataFrame(normalizado_train, columns=train.columns)
  normalizado_test = escalar.transform(test)
  normalizado_test = pd.DataFrame(normalizado_test, columns=test.columns)
  return normalizado_train,normalizado_test

In [44]:
X_train_norm, X_test_norm = normalizar(X_train, X_test)

In [45]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_norm, y_train)
y_pred = model.predict(X_test_norm)


mae = mean_absolute_error(y_test, y_pred)
print("MAE:", mae)

MAE: 28336.24386681384

In [46]:
df_test = pd.read_csv('./data/test.csv', delimiter=',')

X_preprocesado = df_test.copy()

# 1. Eliminar la columna 'id'
X_preprocesado = X_preprocesado.drop(columns=['id'])

# 3. Codificar columnas de texto

# Label Encoding para 'eficiencia_enerxetica' (porque tiene orden)
le = LabelEncoder()
X_preprocesado['eficiencia_enerxetica'] = le.fit_transform(X_preprocesado['eficiencia_enerxetica'])

# One-Hot Encoding para las otras columnas de texto
X_preprocesado = pd.get_dummies(X_preprocesado, columns=[
    'tipo_edificacion',
    'calidade_materiais',
    'cor_favorita_propietario',
    'acceso_transporte_publico',
    'orientacion'
])

# 4. Rellenar NaN en las columnas numéricas
X_preprocesado = X_preprocesado.fillna(X_preprocesado.median())

_, X_preprocesado = normalizar(X_train, X_preprocesado)

y_pred = model.predict(X_preprocesado)
resultados = pd.DataFrame({
    'id': df_test["id"],
    'prezo_euros': y_pred
})

resultados.to_csv('predicciones7.csv',index=False)

In [48]:
X_preprocesado = df.copy()

# 1. Eliminar la columna 'id'
X_preprocesado = X_preprocesado.drop(columns=['id'])

# 3. Codificar columnas de texto

# Label Encoding para 'eficiencia_enerxetica' (porque tiene orden)
le = LabelEncoder()
X_preprocesado['eficiencia_enerxetica'] = le.fit_transform(X_preprocesado['eficiencia_enerxetica'])

# One-Hot Encoding para las otras columnas de texto
X_preprocesado = pd.get_dummies(X_preprocesado, columns=[
    'tipo_edificacion',
    'calidade_materiais',
    'cor_favorita_propietario',
    'acceso_transporte_publico',
    'orientacion'
])

# 4. Rellenar NaN en las columnas numéricas
X_preprocesado = X_preprocesado.fillna(X_preprocesado.median())

y = X_preprocesado['prezo_euros']
X_preprocesado = X_preprocesado.drop(columns=['prezo_euros'])

In [49]:
X_train, X_test, y_train, y_test = train_test_split(
    X_preprocesado, y, test_size=0.2, random_state=42  # 20% para test
)

X_train_norm, X_test_norm = normalizar(X_train, X_test)

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred_int = model.predict(X_test)


mae = mean_absolute_error(y_test, y_pred_int)
print("MAE:", mae)

MAE: 29440.796079637425

In [50]:
df_test = pd.read_csv('./data/test.csv', delimiter=',')

X_preprocesado = df_test.copy()

# 1. Eliminar la columna 'id'
X_preprocesado = X_preprocesado.drop(columns=['id'])

# 3. Codificar columnas de texto

# Label Encoding para 'eficiencia_enerxetica' (porque tiene orden)
le = LabelEncoder()
X_preprocesado['eficiencia_enerxetica'] = le.fit_transform(X_preprocesado['eficiencia_enerxetica'])

# One-Hot Encoding para las otras columnas de texto
X_preprocesado = pd.get_dummies(X_preprocesado, columns=[
    'tipo_edificacion',
    'calidade_materiais',
    'cor_favorita_propietario',
    'acceso_transporte_publico',
    'orientacion'
])

# 4. Rellenar NaN en las columnas numéricas
X_preprocesado = X_preprocesado.fillna(X_preprocesado.median())

_, X_preprocesado = normalizar(X_train, X_preprocesado)

y_pred = model.predict(X_preprocesado)
resultados = pd.DataFrame({
    'id': df_test["id"],
    'prezo_euros': y_pred
})

resultados.to_csv('predicciones8.csv',index=False)